<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>css mastering</title>
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav> 
        <ul> 
            <li class="Lev-1"> 
            <a href="">Level-1</a> 
            <ul> 
                <li><a href="">Link 1</a></li> 
                <li><a href="">Link 2</a></li> 
                <li><a href="">Link 3</a></li> 
                <li><a href="">Link 4</a></li> 
            </ul> 
            </li> 
        </ul> 
    </nav> 
    <p class="parag">Hello Marcel</p>
    <i class="fa fa-cloud" style="font-size:32px; color:goldenrod;"></i> 
    <i class="fa fa-heart" style="font-size:32px; color:goldenrod;"></i> 
    <i class="fa fa-file" style="font-size:32px; color:goldenrod;"></i> 
    <i class="fa fa-car" style="font-size:32px; color:goldenrod;"></i> 
    <i class="fa fa-bars" style="font-size:32px; color:goldenrod;"></i>

</body>
</html>